
@font-face {
    font-family: 'evolventa';
    src: url('10360-webfont.eot');
    src: url('10360-webfont.eot?#iefix') format('embedded-opentype'),
         url('10360-webfont.woff2') format('woff2'),
         url('10360-webfont.woff') format('woff'),
         url('10360-webfont.svg#evolventabold') format('svg');
    font-weight: 700;
    font-style: normal;
}
